body {
    background-color: #FFFFCC;
    padding: 40px 40px 40px 40px;
    margin: 40px;
}

.mainbox {
    background-color: aquamarine;
    padding-bottom: 20px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
}

.headerbox {
    text-align: center;
}

.textbox {
    padding-left: 300px;
    padding-right: 300px;
    font-size: larger;
}

.manskill {
    display: block;
    width: fit-content;
    margin: auto;

}

.softbox {
    display: block;
    width: fit-content;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font-weight: 600;
    font-style: italic;

}

h2 {
    text-align: center;
    color: blueviolet;
}

h3 {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.tblheader {
    font-weight: bolder;
}